h1,
h2,
h3 {
    line-height: 1;
}

h1 {
    font-size: 3rem;

}

h2 {
    font-size: 3rem;

    @media screen and (min-width:1440px) {
        font-size: 4rem;
    }
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 5px;

}

p {
    color: $dark-gray;
    font-size: 1.2rem;
    line-height: 1.7;

    @media screen and (min-width:1440px) {
        font-size: 1.3rem;
    }
}