*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

html,
body,
.wrapper {
    height: 100%;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}